<html>
  <head>
    <title>Nhung's blog</title>
  </head>
  <body>
    <div>
      <h1><a href="/">Nhung's blog</a></h1>
    </div>

    <div>
      <p>published: 15.06.2019, 1:58</p>
      <h2><a href="">My first post</a></h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Qui numquam laboriosam, fugiat amet impedit, blanditiis perferendis possimus soluta, consequuntur ipsum placeat ea architecto reprehenderit explicabo aperiam quis fuga repellendus commodi.</p>
    </div>

    <div>
      <p>published: 15.06.2019, 1:59</p>
      <h2><a href="">My second post</a></h2>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veritatis ipsum, consequuntur ut, aliquid repudiandae ab corporis voluptatibus accusamus, nihil molestiae porro sed adipisci id accusantium quos. Labore id vitae assumenda?</p>
    </div>
  </body>
</html>